body {
    margin-top: 0;
}

header {
    width: 100%;
    background-color: rgb(6, 4, 129);
    border: none;
    border-radius: 0px 0px 5px 5px;
    border-color: #333;
    box-shadow: 0 1px 10px #333;
    position: fixed;
    top: 0;
}

#sysn {
    font-size: 100%;
}

#log_box {
    font-size: 100%;
}

@media screen and (max-width: 820px) {
    #log_box {
        font-size: 70%;
    }
}

@media screen and (min-width: 501) and (max-width: 621) {
    #sysn {
        display: none;
    }
}

h2 {
    width: 100%;
    margin-top: 15px;
    float: left;
    line-height: 50px;
    font-size: 30px;
    color: black;
}

body {
    transition: background-color .5s;
}

td {
    text-align: center;
    vertical-align: middle;
}

.exempt-hover a:hover {
    background-color: inherit;
    padding: 0;
}

.a-exempt {
    border-color: inherit;
    box-shadow: none;
}

.tb_btn:hover {
    padding: 5px;
}

.btn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.box {
    flex-direction: column;
    border: none;
    border-color: none;
    border-radius: 10px;
    background-color: rgb(6, 4, 129);
    box-shadow: 5px 5px 10px #333;
    color: white;
}

.box h2,
.box form {
    text-align: center;
    color: white;
}

.box h2 {
    width: 100%;
    font-size: 45px;
    margin-left: 0;
}

.box table {
    border: none;
    border-color: #333;
    box-shadow: 0 0 10px #333;
    color: rgb(13, 11, 169);
}

.box label {
    text-align: right;
}

.low_container {
    height: 98%;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    margin-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(205, 204, 224);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: none;
    border-color: #333;
    box-shadow: 0 0 10px #333;
    border-radius: 0px 5px 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: grey;
    border-radius: 0;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.sidenav_icon {
    line-height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: white;
}

form label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
    color: black;
}

form input[type="text"] {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
}

input[type="file"] {
    height: 20px;
    width: 250px;
    background-color: white;
    float: right;
    margin-right: 92px;
    padding: 5px;
    border: 1px solid #ccc;
    color: black;
}

form input[type="submit"] {
    background-color: rgb(2, 24, 153);
    border-color: #333;
    box-shadow: 0 0 10px #333;
}

/* Home Page */
.grid_section {
    display: flex;
}

#main_home {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_prnt {
    display: flex;
    justify-content: center;
}

.grid {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 5px 5px 10px #000,
        5px 5px 10px #ccc;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0;
}

.grid_prnt a:last-child .grid {
    margin-right: 0px;
}

.grid a {
    position: fixed;
    bottom: 0;
}

.grid img {
    margin-right: 10px;
    height: 50px;
}

.mainh_div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sl_show {
    flex: 1;
}

.navs {
    flex: 1;
}

#wht_box {
    flex: 0.5;
    height: 90vh;
    width: 25vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.blue_header {
    height: auto;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: rgb(6, 4, 129);
    border-radius: 10px 10px 0 0;
}

.white_box {
    width: 90%;
    height: 70vh;
    padding-top: 0;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 10px #000;
    padding-bottom: 10px
}

.scroll {
    width: 100%;
    height: 80%;
}

.table_cont .scroll {
    height: 90vh;
}

/* Slidshow */
.slideshow-container {
    height: 250px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*-- Tab --*/
@media screen and (min-width: 601px) and (max-width: 1200px) {

    html,
    body,
    header {
        width: 100%;
        height: calc(100% - 60px);
    }

    .grid_section {
        display: flex;
        flex-direction: column;
    }

    .grid_prnt {
        display: flex;
        justify-content: center;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .grid {
        width: 18vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .grid h1 {
        margin-left: 2%;
    }

    .grid img {
        display: none;
    }

    #wht_box {
        flex: 0.8;
        height: 90vh;
        width: 100%;
        justify-content: center;
    }

    .slideshow-container {
        height: 40%;
        width: 90%;
        position: relative;
    }

    .white_box {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .box {
        width: 86%;
        height: fit-content;
    }

    .box label {
        text-align: left;
    }

    .box h2 {
        margin-left: 0;
    }

    .low_container {
        width: 100%;
        height: 100%;
        padding-top: 8px;
    }

    .low_container form {
        margin: 0;
        font-size: 10px;
    }

    .low_container form label {
        text-align: center;
    }

    .low_container input {
        margin: 5px;
    }

    .low_container input[type="submit"] {
        margin-bottom: 15px;
    }

    .divider_form {
        display: flex;
        flex-direction: column;
    }

    .low_container input[type="file"] {
        flex: 1;
        float: left;
    }

    .low_container input[type="file"] {
        width: 170px;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #ccc;
        color: black;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    .scroll {
        max-height: 80vh;
    }
}

/*-- Mini-tab --*/
@media screen and (min-width: 501px) and (max-width: 620px) {

    html,
    body,
    header {
        width: 100%;
        height: 100%;
    }

    .grid_section {
        display: flex;
        flex-direction: column;
    }

    .grid_prnt {
        display: flex;
        justify-content: center;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        width: 18vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .grid h1 {
        margin-left: 2%;
    }

    .grid img {
        display: none;
    }

    #wht_box {
        flex: 0.8;
        height: 90vh;
        width: 100%;
        justify-content: center;
    }

    .slideshow-container {
        height: 40%;
        width: 90%;
        position: relative;
    }

    .white_box {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .box {
        width: 86%;
        height: fit-content;
    }

    .box label {
        text-align: left;
    }

    .box h2 {
        margin-left: 0;
        font-size: 30px;
    }

    .low_container {
        width: 100%;
        height: 100%;
        padding-top: 8px;
    }

    .low_container form {
        margin: 0;
        font-size: 10px;
    }

    .low_container form label {
        text-align: center;
    }

    .low_container input {
        margin: 5px;
    }

    .low_container input[type="submit"] {
        margin-bottom: 15px;
    }

    .divider_form {
        display: flex;
        flex-direction: column;
    }

    .low_container input[type="file"] {
        flex: 1;
        float: left;
    }

    .low_container input[type="file"] {
        width: 170px;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #ccc;
        color: black;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    .scroll {
        max-height: 80vh;
    }
}

/*-- Smartphone --*/
@media screen and (min-width: 360px) and (max-width: 500px) {

    html,
    body,
    header {
        width: 100%;
        height: 100%;
    }

    .grid_section {
        display: flex;
        flex-direction: column;
    }

    .grid_prnt {
        display: flex;
        justify-content: center;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        width: 18vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .grid h1 {
        margin-left: 2%;
        font-size: 10px;
    }

    .grid img {
        display: none;
    }

    #wht_box {
        flex: 0.8;
        height: 90vh;
        width: 100%;
        justify-content: center;
    }

    .slideshow-container {
        height: 40%;
        width: 90%;
        position: relative;
    }

    .white_box {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .box {
        width: 86%;
        height: fit-content;
    }

    .box label {
        text-align: left;
    }

    .box h2 {
        margin-left: 0;
        font-size: 20px;
    }

    .low_container {
        width: 100%;
        height: 100%;
        padding-top: 8px;
    }

    .low_container form {
        margin: 0;
        font-size: 10px;
    }

    .low_container form label {
        text-align: center;
    }

    .low_container input {
        margin: 5px;
    }

    .low_container input[type="submit"] {
        margin-bottom: 15px;
    }

    .divider_form {
        display: flex;
        flex-direction: column;
    }

    .low_container input[type="file"] {
        flex: 1;
        float: left;
    }

    .low_container input[type="file"] {
        width: 170px;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #ccc;
        color: black;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    .scroll {
        max-height: 80vh;
    }
}

/*--Very small screen --*/
@media screen and (min-width: 291px) and (max-width: 359px) {

    html,
    body,
    header {
        width: 100%;
        height: calc(100% - 60px);
    }

    .grid_section {
        display: flex;
        flex-direction: column;
    }

    .grid_prnt {
        display: flex;
        justify-content: center;
    }

    #main_home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        width: 18vw;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .grid h1 {
        margin-left: 2%;
        font-size: 10px;
    }

    .grid img {
        display: none;
    }

    #wht_box {
        flex: 0.8;
        height: 90vh;
        width: 100%;
        justify-content: center;
    }

    .slideshow-container {
        height: 40%;
        width: 90%;
        position: relative;
    }

    .white_box {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .box {
        width: 86%;
        height: fit-content;
    }

    .box label {
        text-align: left;
    }

    .box h2 {
        margin-left: 0;
        font-size: 20px;
    }

    .low_container {
        width: 100%;
        height: 100%;
        padding-top: 8px;
    }

    .low_container form {
        margin: 0;
        font-size: 10px;
    }

    .low_container form label {
        text-align: center;
    }

    .low_container input {
        margin: 5px;
    }

    .low_container input[type="submit"] {
        margin-bottom: 15px;
    }

    .divider_form {
        display: flex;
        flex-direction: column;
    }

    .low_container input[type="file"] {
        flex: 1;
        float: left;
    }

    .low_container input[type="file"] {
        width: 170px;
        margin: 0 auto;
        padding: 0;
        border: 1px solid #ccc;
        color: black;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    .scroll {
        max-height: 80vh;
    }
}